<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>購入履歴 | 明石高専学生食堂システム</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a id="logo" class="navbar-brand" href="/">明石高専学生食堂システム</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="link" class="nav navbar-nav navbar-right">
        <li class="dropdown" id="first-link">
          <li><a href='/logout'>Logout</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
<div class="name">
  <h3>
    購入履歴
  </h3>
</div>
<div class="user-inform">
  <h4>
    こんにちは、{{ user.username }}さん
  </h4>
  <h4>
    あなたの出費は{{ user.expense }}円、総カロリー{{ user.calorie }}kcal
  </h4>
</div>
<div class = "user-menu">
  <div class="menu-group">
    {% for line in date_menu_price_calorie|reverse %}
      <div class="menu-item">
        <!--
        <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000" alt="Bruschetta">
        -->
        <div class="menu-item-text">
          <h3 class="menu-item-heading">
            <span class="menu-item-name">{{ line[1] }}</span>
            <span class="menu-item-price">{{ line[2] }}円</span>
          </h3>
          <p class="menu-item-description">
            {{ line[3] }} kcal
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</body>
<!-- partial -->

</body>
</html>
