<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <title>明石高専学生食堂システム</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-menu-hamburger"></span>                     
      </button>
      <a id="logo" class="navbar-brand" href="/">明石高専学生食堂システム</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
 
      <ul id="link" class="nav navbar-nav navbar-right">
         <li class="dropdown" id="first-link">
     
        <li>
          <a href="/login">Login</a>
          <a href="/logout">Logout</a>
          <a href="/history">History</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
</body>
<div class="container">
    <div class="menu">
      <h3 class="menu-group-heading">
        スペシャルメニュー
      </h3>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/000/fff" alt="Bruschetta">
          <div class="menu-item-text">
              <span class="menu-item-class">Aセット</span>
            <h3 class="menu-item-heading">
              <span class="menu-item-name">{{a_b_menu.a_menu}}</span>
              <span class="menu-item-price">￥{{a_b_menu.a_price}}</span>
            </h3>
            <p class="menu-item-description">
             {{a_b_menu.a_calorie}} kcal
            </p>
            
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/0f0/fff" alt="Bruschetta">
          <div class="menu-item-text">
              <span class="menu-item-class">Bセット</span>
            <h3 class="menu-item-heading">
              <span class="menu-item-name">{{a_b_menu.b_menu}}</span>
              <span class="menu-item-price">￥{{a_b_menu.b_price}}</span>
            </h3>
            <p class="menu-item-description">
              {{a_b_menu.b_calorie}} kcal
            </p>
          </div>
        </div>
      </div>
      <h3 class="menu-group-heading">
        常設メニュー
      </h3>
      
        <div class="menu-group">
          <div class="menu-item">
            <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000" alt="Bruschetta">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                <span class="menu-item-name">Bruschetta</span>
              <span class="menu-item-price">$12.90</span>
            </h3>
            <p class="menu-item-description">
              〇〇 kcal
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/00f/000" alt="Bruschetta">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Bruschetta</span>
              <span class="menu-item-price">$12.90</span>
            </h3>
            <p class="menu-item-description">
              〇〇 kcal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
