<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>明石高専学生食堂システム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a id="logo" class="navbar-brand" href="/">明石高専学生食堂システム</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="link" class="nav navbar-nav navbar-right">
        <li class="dropdown" id="first-link">
          {% if current_user.is_authenticated %}
            <li><a href='/history'>History</a></li>
            <li><a href='/logout'>Logout</a></li>
          {% else %}
            <li><a href='/login'>Login</a></li>
            <li><a href='/register'>Register</a></li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>

<div class="container">
    <div class="menu">
      <h4 class="menu-group-heading">
        日変わりメニュー
      </h4>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/000/fff">
          <div class="menu-item-text">
            <span class="menu-item-class">Aセット</span>
            {% if a_b_menu.a_out_of_stock == True %}
              <span class="menu-item-available">売り切れ</span>
            {% endif %}
            <h4 class="menu-item-heading">
              <span class="menu-item-name">{{ a_b_menu.a_menu }}</span>
              <span class="menu-item-price">¥{{ a_b_menu.a_price }}</span>
            </h4>
            <p class="menu-item-description">
              {{ a_b_menu.a_calorie }} kcal
            </p>
            <form action="/" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              {%  if current_user.is_authenticated %}
                <input type="hidden" name="username" value="{{ current_user.username }}">
                <input class="submit" type="submit" value="食べた" name="a_ate">
              {% endif %}
              <input class="submit" type="submit" value="売り切れ" name="a_out">
            </form>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/0f0/fff">
          <div class="menu-item-text">
            <span class="menu-item-class">Bセット</span>
              {% if a_b_menu.b_out_of_stock == True %}
                <span class="menu-item-available">売り切れ</span>
              {% endif %}
            <h4 class="menu-item-heading">
              <span class="menu-item-name">{{ a_b_menu.b_menu }}</span>
              <span class="menu-item-price">¥{{ a_b_menu.b_price }}</span>
            </h4>
            <p class="menu-item-description">
              {{a_b_menu.b_calorie}} kcal
            </p>
            <form action="/" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              {% if current_user.is_authenticated %}
                <input type="hidden" name="username" value="{{ current_user.username }}">
                <input class="submit" type="submit" value="食べた" name="b_ate">
              {% endif %}
              <input class="submit" type="submit" value="売り切れ" name="b_out">
            </form>
          </div>
        </div>
      </div>
      <h4 class="menu-group-heading">
        常設メニュー
      </h4>
        <div class="menu-group">
          {% for menu in perm_menu %}
            <div class="menu-item">
              <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000">
                <div class="menu-item-text">
                  {% if menu.out_of_stock == True %}
                    <span class="menu-item-available">売り切れ</span>
                  {% endif %}
                  <h4 class="menu-item-heading">
                    <span class="menu-item-name">{{ menu.menu }}</span>
                    <span class="menu-item-price">¥{{ menu.price }}</span>
                  </h4>
                  <p class="menu-item-description">
                    {{ menu.calorie }} kcal
                  </p>
                  <form action="/" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden", value="{{ menu.id }}", name="p_id">
                    {% if current_user.is_authenticated %}
                      <input type="hidden" name="username" value="{{ current_user.username }}">
                      <input class="submit" type="submit" value="食べた" name="p_ate">
                    {% endif %}
                    <input class="submit" type="submit" value="売り切れ" name="p_out">
                  </form>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
</body>
</html>
