<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register | 明石高専学生食堂システム</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a id="logo" class="navbar-brand" href="/">明石高専学生食堂システム</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="link" class="nav navbar-nav navbar-right">
        <li class="dropdown" id="first-link">
          <li><a href='/login'>Login</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Register</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Register</p>
    <p class="error" align="center">{% if error %}{{ error }}{% endif %}</p>
    <form class="form1" action="/register" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="un" type="text" align="center" placeholder="Username" name="username">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <input class="submit" type="submit" align="center" value="Register">
    </form>
  </div>
</body>

</html>
<body>

</body>
</html>
<!-- partial -->

</body>
</html>
